<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="book">
            <h2><span jhiTranslate="jhipsterFirstAppApp.book.detail.title">Book</span> {{book.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterFirstAppApp.book.isbn">Isbn</span></dt>
                <dd>
                    <span>{{book.isbn}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFirstAppApp.book.title">Title</span></dt>
                <dd>
                    <span>{{book.title}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFirstAppApp.book.price">Price</span></dt>
                <dd>
                    <span>{{book.price}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFirstAppApp.book.language">Language</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterFirstAppApp.Language.' + book.language}}">{{book.language}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFirstAppApp.book.publishDate">Publish Date</span></dt>
                <dd>
                    <span>{{book.publishDate}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFirstAppApp.book.author">Author</span></dt>
                <dd>
                    <div *ngIf="book.author">
                        <a [routerLink]="['/author', book.author?.id, 'view']">{{book.author?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book', book.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
